################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#Nuget packages
[Pp]ackages/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/